/* Globaalit tyylit */
about_body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background-color: #f9f9f9;
  color: #333;
}

.back-btn {
  background: #ac95229c ;
  padding: 10px 15px ;
  border-radius: 5px ;
  cursor: pointer ;
  position: absolute ;
  top: 20px ;
  left: 20px ;
  text-decoration: none ;
  margin-top: 100px ;
  font-size: 25px ;
}

.back-btn:hover {
  background: #ac9522 ;
  transition: transform 0.3s ease ;
  transform: scale(1.20) ;
}


/* Sankari-osasto */
.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #302c179c;
  color: white;
  border-bottom: 5px solid #ac95229c;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  color: #f1f1f1;
}

/* Sisältö-osio */
.content {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}
/* Käänteinen asettelu tasaisille kohteille */
.content-item:nth-child(even) {
  flex-direction: row-reverse;
}

/* Tasaa teksti vasemmalle tai oikealle asettelun mukaan */
.content-item:nth-child(even) .content-text {
  text-align: left; /* Johdonmukaisuus käänteisen asettelun kanssa */
}

.content-item:nth-child(odd) .content-text {
  text-align: right; /* Valinnainen: Säilytä johdonmukainen tekstin tasaus */
}

/* Hover-tehoste */
.content-item:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}


/* Tekstin tasaus ja välilyönti tekstisäiliössä */
.content-text {
  width: 50%; /* Varmista oikea väli */
  text-align: left; /* Oletuskohdistus */
  display: flex;
  flex-direction: column; /* Johdonmukainen välilyönti otsikon ja tekstin välillä */
  justify-content: center;


}

.content-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #a39b28;
}

.content-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin: 0; /* Poista tarpeettomat välit */
}

/* Varmista, että kuvat pysyvät oikeankokoisina */
.content-image {
  width: 50%;
  height: auto; /* Säilytä kuvasuhde */
  max-height: 250px; /* Rajoita korkeutta tasaisuuden vuoksi */
  display: block;
  object-fit: cover; /* Varmista, että kuva sopii hyvin */
  border-radius: 8px;
}