.accountControl {
    background-color: #ffffff; /* Aseta valkoinen taustaväri */
    color: rgb(5, 5, 5);       /* Aseta tumma tekstin väri */
    flex: auto;                /* Anna elementin kasvaa ja täyttää käytettävissä oleva tila */
    align-content: space-around; /* Tilan sisältö tasaisesti elementin sisällä */
}

.back-button {
    justify-content: start;    /* Tasaa sisältö vasemman puoleen */
}

.back_arrow-img {
    height: 100px;             /* Aseta napin kuvan korkeus */
}

.edit_pen_icon-img {
    height: 50px;             /* Aseta napin kuvan korkeus */
}

.edit_username_header,
.edit_password_header,
.edit_email_header {
    text-align: center;            /* Tasaa sisältö keskelle */
    padding: 20px;                /* Lisää sisällön ympärille 20 pikselin täyte */
}

.edit_username_textfield,
.edit_password_textfield,
.edit_email_textfield {
    display: flex;             /* Käytä flexboxia vaakasuuntaiseen asetteluun */
    justify-content: center;   /* Keskitetään sisältö vaakasuunnassa */
    gap: 30px;                 /* Lisätään objecteille 30px väliä toisistaan*/
    margin-bottom: 20px;      /* Lisätään marginaali tämän alle*/                
}

.save_username_button,
.save_password_button,
.save_email_button {
    display: flex;             /* Käytä flexboxia vaakasuuntaiseen asetteluun */
    justify-content: center;   /* Keskitetään sisältö vaakasuunnassa */
    gap: 30px;                 /* Lisätään objecteille 30px väliä toisistaan*/
    margin-bottom: 100px;      /* Lisätään marginaali tämän alle*/ 
}

.button-save {
    background-color: rgb(57, 63, 54); /* Punainen tausta */
    color: white; /* valkoinen teksti */
    padding: 5px 10px;
    border: none; /* Ei reunoja */
    border-radius: 10px; /* Pyöreät nurkat */
    cursor: pointer; /* Hii hyvä nappiin */
    font-size: 16px;
  }

.username-input,
.password-input,
.email-input {
    text-align: left;            /* Tasaa sisältö vasemmalle */
    padding: 20px;
    height: 10px;
}

.button {
    background-color: black; /* Musta tausta */
    color: white; /* valkoinen teksti */
    padding: 10px 20px;
    border: none; /* Ei reunoja */
    border-radius: 4px; /* Pyöreät nurkat */
    cursor: pointer; /* Hii hyvä nappiin */
    font-size: 16px;
  }

  .button-red {
    background-color: rgb(180, 29, 29); /* Punainen tausta */
    color: white; /* valkoinen teksti */
    padding: 10px 20px;
    border: none; /* Ei reunoja */
    border-radius: 10px; /* Pyöreät nurkat */
    cursor: pointer; /* Hii hyvä nappiin */
    font-size: 16px;
  }
  .button-red:hover {
    background-color: red;
  }

  .delete_account_button {
    display: flex;             /* Käytä flexboxia vaakasuuntaiseen asetteluun */
    justify-content: center;   /* Keskitetään sisältö vaakasuunnassa */
    gap: 30px;   
    margin-bottom: 200px;      /* Lisätään marginaali tämän alle*/ 
  }