.header {
  display: flex;                /* Flexbox for layout */
  justify-content: space-between; /* Space between groups */
  align-items: center;          /* Vertically center items */
  padding: 20px 40px;           /* Add padding for spacing */
  background-color: #333;       /* Dark background */
  color: white;                 /* Text color */
}

/* Container for the logo and the "Kirjaudu Ulos" link */
.logo-container {
  display: flex;                /* Flex for horizontal layout */
  align-items: center;          /* Vertically center logo and link */
  gap: 20px;                    /* Space between logo and the "Kirjaudu Ulos" link */
}

/* Logo styling */
.logo-img {
  height: 50px;                 /* Set logo height */
}

/* Navigation bar */
.navbar {
  display: flex;                /* Flex layout for navigation links */
}

/* Navigation links styling */
.nav-links {
  list-style: none;             /* Remove default list style */
  margin: 0;                    /* Remove default margin */
  padding: 0;                   /* Remove default padding */
  display: flex;                /* Flex for horizontal links */
  align-items: center;          /* Vertically center the links */
}

/* Styling for individual links */
.nav-links li {
  margin: 0 20px;               /* Add space between links */
}

/* Link styling */
.nav-links a {
  color: white;                 /* Set link color */
  text-decoration: none;        /* Remove underline from links */
  font-size: 16px;              /* Set font size */
  transition: color 0.3s ease;  /* Smooth transition on hover */
}

.nav-links i {
  font-size: 25px;              /* Set font size */
  margin-left: 50px;
}

/* Hover effect on links */
.nav-links a:hover {
  color: #00bcd4;               /* Change color on hover */
}

.icon {
  font-size: 25px;              /* Set icon size */
}

/* Yleiset painiketyylit */
.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Poistetut painiketyylit */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Painike Hover -efekti */
button:hover {
  background-color: #346da7;
}
