.header {
  display: flex;                /* Flexbox asettelua varten */
  justify-content: space-between; /* Tilaa ryhmien välillä */
  align-items: center;          /* Kohteet pystysuorassa keskellä */
  padding: 20px 40px;           /* Lisää pehmuste väliä varten */
  background-color: #333;       /* tumma tausta */
  color: white;                 /* Tekstin väri */
}

/* Säiliö logolle ja "Kirjaudu Ulos" -linkille */
.logo-container {
  display: flex;                /* Flex vaakasuuntaiseen asetteluun */
  align-items: center;          /* Pystysuoraan keskellä logo ja linkki */
  gap: 20px;                    /* Tila logon ja "Kirjaudu Ulos" -linkin välissä */
}

/* Logon muotoilu */
.logo-img {
  height: 50px;                 /* Aseta logon korkeus */
}

/* Navigointipalkki */
.navbar {
  display: flex;                /* Joustava asettelu navigointilinkkejä varten */
}

/* Navigointilinkkien muotoilu */
.nav-links {
  list-style: none;             /* Poista luettelon oletustyyli */
  margin: 0;                    /* Poista oletusmarginaali */
  padding: 0;                   /* Poista oletustäyte */
  display: flex;                /* Flex vaakasuuntaisille linkeille */
  align-items: center;          /* Keskitä linkit pystysuoraan */
}

/* Yksittäisten linkkien muotoilu */
.nav-links li {
  margin: 0 20px;               /* Lisää tilaa linkkien väliin */
}

/* Linkin muotoilu */
.nav-links a {
  color: white;                 /* Aseta linkin väri */
  text-decoration: none;        /* Poista linkeistä alleviivaus */
  font-size: 16px;              /* Aseta fonttikoko */
  transition: color 0.3s ease;  /* Tasainen siirtyminen osoitin */
}

.nav-links i {
  font-size: 25px;              /* Aseta fonttikoko */
  margin-left: 50px;
}

/* Hover-vaikutus linkeissä */
.nav-links a:hover {
  color: #00bcd4;               /* Vaihda väriä osoitin */
}

.icon {
  font-size: 25px;              /* Aseta kuvakkeen koko */
}

/* Yleiset painiketyylit */
.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Poistetut painiketyylit */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Painike Hover -efekti */
button:hover {
  background-color: #346da7;
}
