/* Yleinen alatunnisteen muotoilu */
.footer {
  background-color: #333333a9; /* Tumma taustaväri */
  color: white; /* Tekstin väri valkoinen */
  padding: 20px 0; /* Pystysuora pehmuste väliä varten */
  text-align: center; /* Keskitä sisältö */
}
/* Tekijänoikeustekstin tyyli */
.footer p {
  font-size: 14px; /* Pieni fonttikoko */
  margin: 5px 0; /* Lisää marginaalia rivien väliin */
}

/* Toinen rivi yrityksen tarkoituksesta */
.footer p:last-child {
  font-style: italic; /* Kursivoi toinen rivi */
  font-size: 13px; /* Hieman pienempi fonttikoko */
  color: #bbb; /* Vaaleampi väri korostaa */
}

/* Alatunnisteen sisältösäiliö */
.footer-content {
  max-width: 1200px; /* Suurin leveys suurille näytöille */
  margin: 0 auto; /* Keskitä sisältö */
  padding: 0 20px; /* Pehmuste reagointikykyyn */
}
